.input {
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--cloud);
    color: black;
    padding: 10px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding-right: 35px;

    &--white {
        background-color: white;
    }
}

.textarea {
    resize: none;
    height: 290px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--cloud);
    color: var(--dark-primary);
    padding: 14px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-primary);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--dark-secondary);
        border-radius: 100px;
    }

}