@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.text {
    &--logo {
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 22px;
        color: var(--dark-primary);

        @media screen and (max-width: 1399px) {
            font-size: 18px
        }
    }

    &--link {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: var(--dark-primary);
    }
    
    &--nav {
        &_project {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 17px;
            color: var(--dark-secondary);
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        &_link {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
            color: var(--gray);

            i {
                font-size: 28px
            }

        }
    }
    
    &--username {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 16px;
        color: #000;
    }

    &--name {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 12px;
        color: #000;

        @media screen and (max-width: 1399px) {
            font-size: 10px
        }
    }

    &--warning {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 14px;
        color: var(--lava)
    }

    &--title {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 36px;
        color: black;

        @media screen and (max-width: 575px) {
           font-size: 22px;
        }
    }

    &--category {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 18px;
        color: var(--dark-primary);
    }

    &--task {
        &_header {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            color: var(--dark-primary);
        }

        &_tag {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 12px;
            color: white;

            @media screen and (max-width: 1399px) {
                font-size: 10px
            }
        }

        &_comments {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 12px;
        }
    }

}