:root {
    --dark-primary: #464646;
    --dark-secondary: #646464;

    --light-primary: #F5F5F5;
    --light-secondary: #FBFBFB;
    
    --cloud: #DEDEDE;
    --sun: #ffbb00;

    --lava: #FF6C6C;
    --orange: #FF6E40;
    --sky: #73DDFF;
    --sky-dark: #53C4F4;
    --grass: #5DD37E;

    --lavender: #BEB9FF
}