.main-container {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.auth {
    &--container {
        border-radius: 4px;
        background-color: var(--cloud);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    &--header {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 36px;
        color: var(--dark-blue);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    &--icon {
        top: -30px;
        right: 10px;
        font-size: 20px;
        color: black;
        position: relative;
        float: right;

        &_pass {
            cursor: pointer;
        }
    }

    &--redirect {
        font-size: 14px;
        font-family: 'Inter';

        &_link {
            color: var(--sky-dark);
            cursor: pointer;
        }
    }

}