<form
  (submit)="patchTask()"
  [formGroup]="form"
  class="container modal--container p-4 mt-5"
>
  <div class="row">
    <div class="col-6">
      <input type="text" class="w-100 modal--input" formControlName="title" />
      <i class="ci-edit icon-edit"></i>
    </div>
    <div class="col-4 offset-2">
      <input
        formControlName="deadline"
        type="date"
        class="w-100 modal--input text-uppercase"
      />
    </div>
    <div class="col-6 pe-0">
      <div class="col-12">
        <p class="modal--tag text--task_tag px-4 py-1 float-start">
          {{ task.id }}
        </p>
      </div>

      <div class="col-12">
        <textarea
          formControlName="description"
          class="w-100 modal--textarea"
        ></textarea>
        <i class="ci-edit icon-edit"></i>
      </div>
    </div>
    <div class="col-6 mt-4 ps-5">
      <p class="text-start text--task_header" style="color: black">Workers</p>
      <app-workers-task
        [allWorkers]="projectworkers"
        [workers]="task.workers"
      ></app-workers-task>
    </div>
    <div class="col-12 row m-0 pe-0">
      <div class="col-12 d-flex justify-content-end align-items-center">
        <button (click)="closeModal()" class="modal--btn modal--btn_discard">
          Discard Changes...
        </button>
        <button type="submit" class="modal--btn modal--btn_save ms-3">
          Save Changes...
        </button>
      </div>
    </div>
  </div>
</form>
