.nav {
    &--container {
        position: fixed;
        left: 0;

        background-color: var(--smoke);
        height: 100vh;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);

    }

    &--content {
        
        height: calc(68vh - 51px);
        overflow-y: scroll;

        @media screen and (max-width: 991px) {
            height: auto;
        }

        &_bg {
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 100px;
        }
    }

    &--user {
        &_container {
            background-color: white;
            border-radius: 7px;
            box-shadow: 0px 0px 4px rgba(160, 160, 160, 0.25);
        }
    }

    &--name {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;

    }



    &--logout {
        cursor: pointer;
        font-size: 18px;
        transition: color 0.1s ease-in-out;

        &_mobile {
            cursor: pointer;
            font-size: 24px;
        }

        &:hover {
            color: var(--lava)
        }
    }
}

.active {
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(160, 160, 160, 0.25);
}

.hamburger {
    &--btn {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
        color: black;
        z-index: 100;
    }

    &--container {
        width: 100%;
        background-color: var(--smoke);
    }

}

a {
    text-decoration: none;
    color: inherit
}