.modal {
    &--container {
        background-color: #fff;
        border-radius: 4px
    }

    &--close {
        right: 10px;
        top: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    
    &--add {
        top: -35px;
        right: 10px;
        font-size: 28px;
        color: var(--gray);
        position: relative;
        float: right;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: black
        }
    }

    &--invalid {
        color: var(--lava);
        font-size: 12px;
        text-align: start;
        top: -22px;
    }
}

.workers {
    &--user {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    &--username {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }

    &--email {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: var(--dark-secondary)
    }

    &--remove {
        font-size: 28px;
        color: var(--dark-secondary);
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--lava)
        }
    }

}