.workers {
    &--user {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    &--username {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
    }

    &--email {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        color: var(--dark-secondary)
    }
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;

    &__control {
        opacity: 0;
        cursor: pointer;
        z-index: 10;
        width: 20px;
        height: 20px;
    }

    &__box {
        font-size: 28px;
        position: absolute;
        transform: translateY(2px) translateX(-3px);
    }

    &--checked {
        opacity: 0
    }
}

.checkbox__control:checked ~ .checkbox--checked {
    opacity: 1;
}