<div
  [ngStyle]="selected ? { opacity: 1 } : { opacity: 0.4 }"
  class="d-flex align-items-center justify-content-between"
>
  <div class="d-flex align-items-center">
    <p
      [ngStyle]="{ 'background-color': worker.color }"
      class="workers--user text--name me-2"
    >
      {{ worker.username | initials }}
    </p>
    <div class="text-start">
      <p class="mb-0 workers--username">{{ worker.username }}</p>
      <p class="workers--email">{{ worker.useremail }}</p>
    </div>
  </div>
  <div class="checkbox">
    <input
      [(ngModel)]="selected"
      (change)="emit()"
      [value]="worker.useremail"
      class="checkbox__control"
      type="checkbox"
      [checked]="selected"
    />
    <span class="checkbox__box checkbox--checked"
      ><i class="ci-checkbox_square"></i
    ></span>
    <span class="checkbox__box checkbox--unchecked"
      ><i class="ci-checkbox"></i
    ></span>
  </div>
</div>
