.workers {
    &--header {
        font-size: 18px;
        color: black;
        font-family: 'Poppins';
        font-weight: 500;
    }

    &--user {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    &--view {
        font-family: 'Poppins';
        font-weight: 400;
        color: var(--gray);
        font-size: 14px;
        cursor: pointer;
    }
}