<div class="container-fluid ps-lg-5 columns--container" cdkDropListGroup>
  <div class="row col-12">
    <div class="col-12 col-lg-8 mt-5 mt-xl-4 mt-xxl-5 mb-3">
      <div class="d-flex align-items-center">
        <img
          alt="task-icon"
          src="../../../../assets/icon-task.png"
          class="project--icon"
        />
        <h1 class="project-title text--title text-start position-relative">
          {{ project.title }}
          <i (click)="openTitleEditModal()" class="ci-edit edit-icon ms-2"></i>
        </h1>
      </div>
      <p class="project--description">
        Click
        <span class="project--description_icon"
          ><i class="ci-plus"></i>New</span
        >
        to add new task. Then, just do what you have to do. Fingers crossed!
      </p>
    </div>

    <div
      class="col-12 col-lg-3 offset-lg-1 d-flex justify-content-start align-items-center pt-lg-5 mb-xxl-4"
    >
      <app-workers
        class="w-100"
        (emittedFunction)="setRoute()"
        [project]="id"
        [workers]="workers"
      ></app-workers>
    </div>

    <div class="columns--container">
      <div class="col-12 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 p-1 p-xxl-2">
        <app-column
          header="Next Up"
          [tasks]="project.todos"
          [projectworkers]="workers"
          [projectid]="id"
          (emittedFunction)="setRoute()"
        ></app-column>
      </div>
      <div class="col-12 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 p-1 p-xxl-2">
        <app-column
          header="In Progress"
          [tasks]="project.wips"
          [projectworkers]="workers"
          [projectid]="id"
          (emittedFunction)="setRoute()"
        ></app-column>
      </div>
      <div
        class="col-12 col-sm-8 offset-sm-2 offset-lg-0 col-lg-4 p-1 p-xxl-2 columns--last"
      >
        <app-column
          header="Completed"
          [tasks]="project.completed"
          [projectworkers]="workers"
          [projectid]="id"
          (emittedFunction)="setRoute()"
        ></app-column>
      </div>
    </div>
  </div>
</div>
