<form
  [formGroup]="form"
  (submit)="createProject()"
  class="container modal--container col-12 col-md-10 col-xl-4 offset-md-1 offset-xl-4 p-5 mt-5 position-relative"
>
  <i
    (click)="closeModal()"
    class="ci-close_small position-absolute modal--close"
  ></i>
  <div class="row">
    <div class="col-12">
      <input type="text" class="w-100 input" formControlName="name" />
      <i class="ci-edit icon-edit"></i>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center mt-4">
      <div>
        <button
          [disabled]="disableAction"
          type="submit"
          class="button py-3 px-3 px-md-5"
        >
          <i class="ci-plus me-1"></i><span i18n>New Project</span>
        </button>
      </div>
    </div>
  </div>
</form>
