.modal {
    &--container {
        background-color: #FFF;
        border-radius: 4px;
    }

    &--close {
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }

}

.icon-edit {
    top: -32px;
    right: 10px;
    font-size: 20px;
    color: var(--dark-primary);
    position: relative;
    float: right;
}
