<form [formGroup]="form" class="container">
  <div class="col-10 offset-1 modal--container p-4 mt-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <input formControlName="title" type="text" class="w-100 modal--input" />
        <i class="ci-edit icon-edit"></i>
      </div>
      <div class="col-12 col-md-4 offset-md-2">
        <input
          formControlName="deadline"
          type="date"
          class="w-100 modal--input text-uppercase"
        />
      </div>
      <div class="col-12 mt-3 mt-md-0">
        <div class="col-12">
          <textarea
            formControlName="description"
            class="w-100 modal--textarea"
          ></textarea>
          <i class="ci-edit icon-edit"></i>
        </div>
      </div>

      <div class="col-12 row m-0 pe-0">
        <div class="col-12 d-flex justify-content-end align-items-center">
          <button
            (click)="closeModal()"
            class="modal--btn modal--btn_discard ms-3"
          >
            Discard...
          </button>
          <button (click)="addTask()" class="modal--btn modal--btn_save ms-3">
            Add task...
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
