.modal {
    &--container {
        background-color: #FFF;
        border-radius: 10px;
    }

    &--input {
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: var(--cloud);
        color: var(--dark-primary);
        padding: 10px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
    }

    &--textarea {
        resize: none;
        height: 290px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: var(--cloud);
        color: var(--dark-primary);
        padding: 14px;

        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        color: var(--dark-primary);
    }

    &--tag {
        background-color: var(--sky);
        border-radius: 6px;
        display: inline-block;
        margin-top: -10px;
        margin-bottom: 25px
    }

    &--btn {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 18px;
        color: white;
        outline: none;
        border: none;
        padding: 10px 28px;
        border-radius: 10px;
        display: inline;

        &_discard {
            background-color: var(--lava);
        }

        &_save {
            background-color: var(--grass)
        }
    }

}

.icon-edit {
    top: -39px;
    right: 10px;
    font-size: 20px;
    color: var(--dark-primary);
    position: relative;
    float: right;
}