<form
  (submit)="addTask()"
  [formGroup]="form"
  class="container modal--container p-5 mt-5 position-relative"
>
  <i
    (click)="closeModal()"
    class="ci-close_small position-absolute modal--close"
  ></i>
  <div class="row">
    <div class="col-12 col-lg-6 px-0">
      <input type="text" class="w-100 input" formControlName="title" />
      <i class="ci-edit icon-edit"></i>
    </div>
    <div class="col-12 col-lg-4 offset-lg-2 px-0">
      <input
        formControlName="deadline"
        type="date"
        class="w-100 input text-uppercase"
      />
    </div>
    <div class="col-12 col-lg-6 pe-0 mt-4 mt-lg-0 ps-0">
      <div class="col-12">
        <textarea
          formControlName="description"
          class="w-100 textarea"
        ></textarea>
        <i class="ci-edit icon-edit"></i>
      </div>
    </div>
    <div class="col-12 col-lg-6 mt-2 pe-0 ps-lg-5">
      <p i18n class="text-start text--task_header" style="color: black">
        Members
      </p>
      <app-workers-task
        [allWorkers]="projectworkers"
        (emittedFunction)="getWorkers($event)"
      ></app-workers-task>
    </div>
    <div class="col-12 row m-0 pe-0 mt-3 mt-md-0">
      <div
        class="col-12 d-flex justify-content-center justify-content-lg-end align-items-center"
      >
        <button i18n type="submit" class="button py-3 px-5">
          <i class="ci-check_bold me-2"></i>Save
        </button>
      </div>
    </div>
  </div>
</form>
