<div class="col-12 column--container p-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text--category m-0">{{ header }}</h1>
    <i (click)="openModal()" class="plus-icon ci-plus_circle_outline"></i>
  </div>

  <div class="col-12 column--tasks mt-3">
    <div
      cdkDropList
      cdkDropListSortingDisabled="true"
      [cdkDropListData]="tasks"
      (cdkDropListDropped)="drop($event)"
      class="column--task_container"
    >
      <div class="px-2">
        <app-task
          *ngFor="let item of tasks"
          [project]="projectid"
          [cdkDragData]="item"
          [task]="item"
          [projectworkers]="projectworkers"
          cdkDrag
          (emittedFunction)="emit()"
        >
        </app-task>
      </div>
    </div>
  </div>
</div>
