<div style="height: 100%" class="col-12 p-0 p-lg-3">
  <div style="height: 100%" class="col-12 column--tasks mt-3">
    <div
      cdkDropList
      [cdkDropListData]="tasks"
      (cdkDropListDropped)="drop($event)"
      class="list"
    >
      <div
        class="d-flex justify-content-between align-items-center column--category p-3 mb-3"
      >
        <h1 class="text--category m-0">{{ header }}</h1>
      </div>
      <div class="box" cdkDrag [cdkDragData]="item" *ngFor="let item of tasks">
        <app-task
          [project]="projectid"
          [task]="item"
          [projectworkers]="projectworkers"
          (emittedFunction)="emit()"
        >
        </app-task>
      </div>
      <div (click)="openModal()" class="column--plus p-3">
        <i class="ci-plus"></i>
      </div>
    </div>
  </div>
</div>
