.task {
    &--container {
        background-color: white;
        border: 1px solid var(--smoke);
        
        border-radius: 3px;

    }

    &--deadline {
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
        background-color: var(--lava);
        border-radius: 4px;
        padding: 2px 4px;
    }

    &--user {
        background-color: var(--lavender);
        display: flex;
        min-width: 40px;
        min-height: 40px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1399px) {
            min-width: 40px;
            min-height: 40px
        }
    }
}

