<div class="col-12 task--container p-3 mb-3">
  <div class="mb-2 d-flex justify-content-end">
    <i
      style="cursor: pointer"
      (click)="openModal()"
      class="ci-more_horizontal"
    ></i>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text--task_header m-0">{{ task?.title }}</h1>
  </div>

  <div class="col-12 d-flex justify-content-between align-items-center mt-3">
    <p class="d-flex align-items-center task--deadline">
      <i class="ci-clock me-1"></i> {{ task?.deadline | date: "MMM d, yyyy" }}
    </p>
    <div class="d-flex">
      <p
        [ngStyle]="{ 'background-color': worker.color }"
        *ngFor="let worker of task?.workers!.slice(0, 3)"
        class="task--user text--name m-0 me-2"
      >
        {{ worker.username || "" | initials }}
      </p>
    </div>
  </div>
</div>
