.task {
    &--container {
        background-color: var(--light-secondary);
        border-radius: 10px;
        cursor: pointer;
    }

    &--tag {
        background-color: var(--sky);
        border-radius: 6px;
        display: inline-block;
    }

    &--user {
        background-color: var(--lavender);
        display: flex;
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1399px) {
            min-width: 40px;
            min-height: 40px
        }
    }
}

.icon-warning {
    color: var(--lava);
    font-size: 32px;

    @media screen and (max-width: 1399px) {
        font-size: 22px
    }

}

.icon-comments {
    color: var(--dark-primary);
    font-size: 22px;
}